body{
    margin:0;
    font-family:"Hiragino Maru Gothic Pro";
}

header{
padding: 100px 0 100px 0;
height: 150px;
background-image:url("images/miku2.jpg");
background-size:cover;
padding:10px 20px;
text-align:center;
color:#3c3b3b

}

.top-wrapper{
    padding-top: 30px;    
    }

ul{
        display: flex;
       
} 
li{
        list-style: none;
}
.introduce{
    padding-top: 30px;
}
.about{
   text-align:center;
   color:#3c3b3b
}
.myproject1{
    padding-top: 20px;
    padding-left: 40px;
}
.myproject2{
    padding-top: 30px;
    padding-left: 40px;   
}
span{
    padding: 7px 7px;
    border-radius: 10px;
}